@import "tailwindcss";
@plugin "daisyui";


body {
  background-color: #0f0717;
  width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  --color-primary: #8B4ACC;
}


.gradient_color {
  background-image: linear-gradient(to right, #7B53E8, #5831C3);
}

.custom_font_color {
  color: #a69daf; 
}